.commencer{
    z-index: 2;
    align-items: flex-end;
    font-size: 40px;
    
  }
  .col1{
    border:2px #1dbcb4 solid;
    border-radius: 25px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .label1{
    color: #1dbcb4;
    align-items: flex-end;
  }
  .label1:hover{
    cursor: pointer;
    color: white;
  }