.about {
    display: flex;
    background-color: ivory;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  .navavatar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-evenly;
    margin-top: -11px;
  }

  .title{
    background-color: ivory;
    text-align: center;
    font-size: 50px;
    color: #391465;
  }

  .des{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:center;
    align-items: center;
  }

  .desc{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    margin: 30px;
  }

  @media screen and (max-width: 960px) {
    .title{
        text-align: center;
        font-size: 35px;
      }
    .about{
        flex-direction: row;
        align-items: flex-start;
      }
      .navavatar{
          margin-top: 60px;
          flex-direction: column;
      }
      .des{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
      }
      .desc{
        display: flex;
        flex-direction: column;
        height: 200px;
        align-items: center;
        justify-content:center;
        font-size: 22px;
      }
      .large{
        opacity: 9;
      }
  }