.table{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
table{
   
    background-color: gainsboro;
    border-radius: 5px;
    width: 70%;
    margin-top: 50px;
}
td{
    border : 2px 2px solid;
    height: 100px;
}
.btnnn {
    padding: 10px 5px;
    width: 80px;
    margin-left: 30px;
    border-radius: 4px;
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
  }
  .btnnn:hover{
      color: black;
  }
  .biton{
      width :120px;
      display: flex;
      flex-direction: row;
  }